/* QUICKPLAY BUTTON VALUES */
$quickplay-button-max-height: 48px;
$quickplay-button-min-width: 100px;
$quickplay-button-hover-shadow-color: rgba(25, 25, 25, 0.2);

button.quickplay {
  @include transition(0.2s);
  cursor: pointer;
  background-color: $indigo-400;
  border-radius: 4px;
  color: $white;
  font-size: 20px; font-weight: 600;
  max-height: $quickplay-button-max-height; min-width: $quickplay-button-min-width;
  overflow: hidden;
  padding: 0;

  &:hover {
    background-color: $indigo-500;
    @include box-shadow(0px, 0px, 8px, 0.2px, $quickplay-button-hover-shadow-color);
  }

  &:active {
    background-color: $indigo-900;
  }
}
/* BUTTON TITLE */
button.quickplay > span {
  @include flex; @include align-center; @include justify-center;
  min-height: $quickplay-button-max-height; min-width: $quickplay-button-min-width;
  position: relative;
  padding: 0 20px;

  &:hover {
    /* Include custom scrolling animation for text inside */
    animation-name: quickplay-speed;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  &:focus {
    animation-name: quickplay-focus;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    outline: none;
  }

  &:active {
    animation-name: none;
  }
}

/* QUICKPLAY BUTTON ANIMATIONS */
@keyframes quickplay-focus {
  0%      { transform: rotate(0deg); }
  25%     { transform: rotate(-5deg); }
  75%     { transform: rotate(5deg); }
  100%    { transform: rotate(0deg); }
}

@keyframes quickplay-speed {
  0%      { left: 0; }
  10%     { left: -10px; transform: skewY(-2deg); }
  30%     { left: $quickplay-button-min-width + 20px; opacity: 1; transform: skewY(2deg); }
  31%     { opacity: 0; transform: skewY(0deg); }
  40%     { left: 0; }
  41%     { opacity: 0; }
  80%     { opacity: 1; }
  100%    { opacity: 1; }
}