/* JUMBOTRON WRAPPER VALUES */
$jumbotron-height-full: 1000px;
$jumbotron-height-2560: 800px;
$jumbotron-height-1920: 600px;
$jumbotron-height: 500px;
$jumbotron-width: 100%;
$jumbotron-shadow-veritical: 2.5px;
$jumbotron-shadow-blur: 5px;
$jumbotron-shadow-color: rgba(25, 25, 25, 0.2);

/* JUMBOTRON INNER WRAPPER VALUES */
$jumbotron-inner-wrapper-max-width-full: 1920px;
$jumbotron-inner-wrapper-max-width-2560: 1550px;
$jumbotron-inner-wrapper-max-width-1920: 1200px;
$jumbotron-inner-wrapper-max-width: 980px;
$jumbotron-inner-wrapper-bottom-container-height-full: 125px;
$jumbotron-inner-wrapper-bottom-container-height-2560: 100px;
$jumbotron-inner-wrapper-bottom-container-height-1920: 75px;
$jumbotron-inner-wrapper-bottom-container-height: 50px;

/* JUMBOTRON SLIDE VALUES */
$jumbotron-slide-height-full: 875px;
$jumbotron-slide-height-2560: 700px;
$jumbotron-slide-height-1920: 525px;
$jumbotron-slide-height: 450px;

/* JUMBOTRON SLIDE TITLE VALUES */
/* -- H1 TITLE VALUES */
$jumbotron-slide-title-h1-size-full: 72px;
$jumbotron-slide-title-h1-size-2560: 64px;
$jumbotron-slide-title-h1-size-1920: 56px;
$jumbotron-slide-title-h1-size: 48px;
$jumbotron-slide-title-h1-size-mobile: 28px;
$jumbotron-slide-title-h1-size-mobile-small: 24px;
$jumbotron-slide-title-h1-margin-full: 48px;
$jumbotron-slide-title-h1-margin-2560: 42px;
$jumbotron-slide-title-h1-margin-1920: 36px;
$jumbotron-slide-title-h1-margin: 32px;
$jumbotron-slide-title-h1-margin-mobile: 10px;
/* -- H2 TITLE VALUES */
$jumbotron-slide-title-h2-size-full: 60px;
$jumbotron-slide-title-h2-size-2560: 54px;
$jumbotron-slide-title-h2-size-1920: 48px;
$jumbotron-slide-title-h2-size: 40px;
$jumbotron-slide-title-h2-size-mobile: 24px;
$jumbotron-slide-title-h2-size-mobile-small: 20px;
$jumbotron-slide-title-h2-margin-full: 42px;
$jumbotron-slide-title-h2-margin-2560: 36px;
$jumbotron-slide-title-h2-margin-1920: 32px;
$jumbotron-slide-title-h2-margin: 28px;
$jumbotron-slide-title-h2-margin-mobile: 8px;
/* -- H3 TITLE VALUES */
$jumbotron-slide-title-h3-size-full: 48px;
$jumbotron-slide-title-h3-size-2560: 42px;
$jumbotron-slide-title-h3-size-1920: 36px;
$jumbotron-slide-title-h3-size: 32px;
$jumbotron-slide-title-h3-size-mobile: 20px;
$jumbotron-slide-title-h3-size-mobile-small: 18px;
$jumbotron-slide-title-h3-margin-full: 36px;
$jumbotron-slide-title-h3-margin-2560: 32px;
$jumbotron-slide-title-h3-margin-1920: 28px;
$jumbotron-slide-title-h3-margin: 24px;
$jumbotron-slide-title-h3-margin-mobile: 6px;
/* -- H4 TITLE VALUES */
$jumbotron-slide-title-h4-size-full: 36px;
$jumbotron-slide-title-h4-size-2560: 32px;
$jumbotron-slide-title-h4-size-1920: 28px;
$jumbotron-slide-title-h4-size: 24px;
$jumbotron-slide-title-h4-size-mobile: 18px;
$jumbotron-slide-title-h4-size-mobile-small: 16px;
$jumbotron-slide-title-h4-margin-full: 30px;
$jumbotron-slide-title-h4-margin-2560: 26px;
$jumbotron-slide-title-h4-margin-1920: 24px;
$jumbotron-slide-title-h4-margin: 20px;
$jumbotron-slide-title-h4-margin-mobile: 5px;

/* JUMBOTRON BUTTON VALUES */
$jumbotron-slide-button-height-full: 72px;
$jumbotron-slide-button-height-2560: 60px;
$jumbotron-slide-button-height-1920: 54px;
$jumbotron-slide-button-height: 48px;
$jumbotron-slide-button-margin-full: 60px;
$jumbotron-slide-button-margin-2560: 56px;
$jumbotron-slide-button-margin-1920: 48px;
$jumbotron-slide-button-margin: 40px;
$jumbotron-slide-button-margin-mobile: 20px;
$jumbotron-slide-button-margin-mobile-small: 10px;
$jumbotron-slide-button-min-width-full: 200px;
$jumbotron-slide-button-min-width-2560: 140px;
$jumbotron-slide-button-min-width-1920: 120px;
$jumbotron-slide-button-min-width: 100px;

/* JUMBOTRON SLIDE SELECTOR VALUES */
$jumbotron-slide-selector-height-full: 24px;
$jumbotron-slide-selector-height-2560: 20px;
$jumbotron-slide-selector-height-1920: 16px;
$jumbotron-slide-selector-height: 12px;
$jumbotron-slide-selector-margin-full: 24px;
$jumbotron-slide-selector-margin-2560: 20px;
$jumbotron-slide-selector-margin-1920: 16px;
$jumbotron-slide-selector-margin: 12px;

/* MAIN JUMBOTRON WRAPPER */
.jumbotron-wrapper {
  @include box-size-border-box;
  @include transition(0.2s);
  @include jumbotron-background;
  @include box-shadow(0px, $jumbotron-shadow-veritical, $jumbotron-shadow-blur, 0px, $jumbotron-shadow-color);
  height: $jumbotron-height-full; width: $jumbotron-width;

  &.default-bg {
    // background-color: #498cb6;
    background-color: #0F6DB4;
  }
  &.green-bg {
    // background-color: #498cb6;
    background-color: #82B74F;
  }
  &.orange-bg {
    background-color: #EE6534;
  }
  &.purple-bg {
    background-color: #686EBE;
  }
}

/* JUMBOTRON INNER WRAPPER */
.jumbotron-inner-wrapper {
  @include flex; @include flex-column;
  @include transition(0.2s);
  margin: 0 auto;
  height: $jumbotron-height-full; max-width: $jumbotron-inner-wrapper-max-width-full; width: 100%;
}
.jumbotron-inner-wrapper > .bottom-container {
  @include flex; @include align-center; @include justify-center;
  height: $jumbotron-inner-wrapper-bottom-container-height-full; width: 100%;
}

/* JUMBOTRON SLIDE WRAPPER */
.jumbotron-slide-wrapper {
  @include flex; @include flex-column; @include align-center; @include justify-center;
  height: $jumbotron-slide-height-full; width: 100%;

  &.text-white > * {
    color: white !important;
  }
}

/* JUMBOTRON SLIDE TITLES */
.jumbotron-slide-wrapper > h1 {
  @include transition(0.2s);
  color: $blue-grey-900;
  font-size: $jumbotron-slide-title-h1-size-full;
  margin: $jumbotron-slide-title-h1-margin-full 0;
  opacity: 0;

  &.show {
    // text-shadow: 1px 1px 4px rgba(25, 25, 25, 0.5);
    opacity: 1;
  }
}
.jumbotron-slide-wrapper > h2 {
  @include transition(0.2s);
  font-size: $jumbotron-slide-title-h2-size-full;
  margin: $jumbotron-slide-title-h2-margin-full 0;
}
.jumbotron-slide-wrapper > h3 {
  @include transition(0.2s);
  font-size: $jumbotron-slide-title-h3-size-full;
  margin: $jumbotron-slide-title-h3-margin-full 0;
}
.jumbotron-slide-wrapper > h4 {
  @include transition(0.2s);
  color: $blue-grey-900;
  font-size: $jumbotron-slide-title-h4-size-full;
  margin: $jumbotron-slide-title-h4-margin-full 0;
  opacity: 0;

  &.show {
    // text-shadow: 1px 1px 4px rgba(25, 25, 25, 0.5);
    opacity: 1;
  }
}

/* JUMBOTRON SLIDE CONTENT CONTAINER */
.jumbotron-slide-container {
  @include transition(0.2s);
  @include flex;
  opacity: 0;
  padding: 10px 0;

  &.col {
    @include flex-column;
  }
  &.ac {
    @include align-center;
  }
  &.jc {
    @include justify-center;
  }

  &.show {
    opacity: 1;
  }
  width: 100%;
}

/* JUMBOTRON SLIDE BUTTONS */
.jumbotron-slide-container > a {
  text-decoration: none;
  margin-right: $jumbotron-slide-button-height-full;

  &:last-child {
    margin-right: 0px;
  }
}
.jumbotron-slide-container > a > button {
  @include flex; @include align-center; @include justify-center;
  @include transition(0.2s);
  @include box-shadow(2px, 2px, 6px, 2px, rgba(25, 25, 25, 0.4));
  cursor: pointer;
  background-color: $javascript-yellow;
  border-radius: 4px; border-color: rgba(0, 0, 0, 0.0);
  color: $blue-grey-900;
  font-size: 14px;
  height: $jumbotron-slide-button-height-full; min-width: $jumbotron-slide-button-min-width-full;
  padding: 0 15px;

  &.large-font {
    font-size: 24px; font-weight: 600;
  }

  &:hover {
    @include box-shadow(3px, 3px, 6px, 2px, rgba(25, 25, 25, 0.5));
    background-color: $yellow-400;
    border-radius: 5px;
  }

  &:active {
    @include box-shadow(1px, 1px, 2px, 1px, rgba(25, 25, 25, 0.5));
    background-color: $amber-500;
  }

  &:focus {
    border-radius: 6px;
    outline: none;
  }

  &:last-child {
    margin-right: 0px;
  }

  & > img {
    opacity: 0.8;
  }
}

/* JUMBOTRON SLIDE SELECTORS */
.slide-selector-wrapper > ul {
  @include flex; @include align-center;
  list-style: none;
  padding: 0;
}
.slide-selector-wrapper > ul > li {
  @include transition(0.2s);
  cursor: pointer;
  background-color: $blue-grey-400;
  border: 1px solid $blue-grey-300; border-radius: 50%;
  height: $jumbotron-slide-selector-height-full; width: $jumbotron-slide-selector-height-full;
  margin-right: $jumbotron-slide-selector-margin-full;

  &:last-child { margin-right: 0px; }

  &.selected { background-color: $blue-grey-800; }

  &:hover { @include box-shadow(0px, 0px, 2px, 1px, rgba(25, 25, 25, 0.2)); background-color: $blue-grey-600; }
  &:active { background-color: $blue-grey-700 }
}


/* RESPONSIVE STYLES */
/* -- 2560 x 1400 Support */
@media (max-width: 2560px) {
  .jumbotron-wrapper {
    height: $jumbotron-height-2560;
  }

  .jumbotron-inner-wrapper {
    height: $jumbotron-height-2560; max-width: $jumbotron-inner-wrapper-max-width-2560;
  }
  .jumbotron-inner-wrapper > .bottom-container {
    height: $jumbotron-inner-wrapper-bottom-container-height-2560;
  }

  /* JUMBOTRON SLIDE */
  /* -- JUMBOTRON SLIDE WRAPPER */
  .jumbotron-slide-wrapper {
    height: $jumbotron-slide-height-2560;
  }
  /* -- JUMBOTRON SLIDE TITLES */
  .jumbotron-slide-wrapper > h1 {
    font-size: $jumbotron-slide-title-h1-size-2560;
    margin: $jumbotron-slide-title-h1-margin-2560 0;
  }
  .jumbotron-slide-wrapper > h2 {
    font-size: $jumbotron-slide-title-h2-size-2560;
    margin: $jumbotron-slide-title-h2-margin-2560 0;
  }
  .jumbotron-slide-wrapper > h3 {
    font-size: $jumbotron-slide-title-h3-size-2560;
    margin: $jumbotron-slide-title-h3-margin-2560 0;
  }
  .jumbotron-slide-wrapper > h4 {
    font-size: $jumbotron-slide-title-h4-size-2560;
    margin: $jumbotron-slide-title-h4-margin-2560 0;
  }
  /* -- JUMBOTRON SLIDE SELECTORS */
  .slide-selector-wrapper > ul > li {
    height: $jumbotron-slide-selector-height-2560; width: $jumbotron-slide-selector-height-2560;
    margin-right: $jumbotron-slide-selector-margin-2560;
  }
  /* -- JUMBOTRON SLIDE BUTTON */
  .jumbotron-slide-container > a {
    margin-right: $jumbotron-slide-button-margin-2560;
  }
  .jumbotron-slide-container > a > button {
    height: $jumbotron-slide-button-height-2560; min-width: $jumbotron-slide-button-min-width-2560;
  }
}

/* 1920 x 1080 support */
@media (max-width: 1920px) {
  .jumbotron-wrapper {
    height: $jumbotron-height-1920; 
  }

  .jumbotron-inner-wrapper {
    height: $jumbotron-height-1920; max-width: $jumbotron-inner-wrapper-max-width-1920;
  }
  .jumbotron-inner-wrapper > .bottom-container {
    height: $jumbotron-inner-wrapper-bottom-container-height-1920;
  }

  /* JUMBOTRON SLIDE */
  /* -- JUMBOTRON SLIDE WRAPPER */
  .jumbotron-slide-wrapper {
    height: $jumbotron-slide-height-1920;
  }
  /* -- JUMBOTRON SLIDE TITLES */
  .jumbotron-slide-wrapper > h1 {
    font-size: $jumbotron-slide-title-h1-size-1920;
    margin: $jumbotron-slide-title-h1-margin-1920 0;
  }
  .jumbotron-slide-wrapper > h2 {
    font-size: $jumbotron-slide-title-h2-size-1920;
    margin: $jumbotron-slide-title-h2-margin-1920 0;
  }
  .jumbotron-slide-wrapper > h3 {
    font-size: $jumbotron-slide-title-h3-size-1920;
    margin: $jumbotron-slide-title-h3-margin-1920 0;
  }
  .jumbotron-slide-wrapper > h4 {
    font-size: $jumbotron-slide-title-h4-size-1920;
    margin: $jumbotron-slide-title-h4-margin-1920 0;
  }
  /* -- JUMBOTRON SLIDE SELECTORS */
  .slide-selector-wrapper > ul > li {
    height: $jumbotron-slide-selector-height-1920; width: $jumbotron-slide-selector-height-1920;
    margin-right: $jumbotron-slide-selector-margin-1920;
  }
  /* -- JUMBOTRON SLIDE BUTTON */
  .jumbotron-slide-container > a {
    margin-right: $jumbotron-slide-button-margin-1920;
  }
  .jumbotron-slide-container > a > button {
    height: $jumbotron-slide-button-height-1920; min-width: $jumbotron-slide-button-min-width-1920;
  }
}

/* 1440 x 900 support */
@media (max-width: 1440px) {
  .jumbotron-wrapper {
    height: $jumbotron-height;
  }

  .jumbotron-inner-wrapper {
    height: $jumbotron-height; max-width: $jumbotron-inner-wrapper-max-width;
  }
  .jumbotron-inner-wrapper > .bottom-container {
    height: $jumbotron-inner-wrapper-bottom-container-height;
  }

  /* JUMBOTRON SLIDE */
  /* -- JUMBOTRON SLIDE WRAPPER */
  .jumbotron-slide-wrapper {
    height: $jumbotron-slide-height;
  }
  /* -- JUMBOTRON SLIDE TITLES */
  .jumbotron-slide-wrapper > h1 {
    font-size: $jumbotron-slide-title-h1-size;
    margin: $jumbotron-slide-title-h1-margin 0;
  }
  .jumbotron-slide-wrapper > h2 {
    font-size: $jumbotron-slide-title-h2-size;
    margin: $jumbotron-slide-title-h2-margin 0;
  }
  .jumbotron-slide-wrapper > h3 {
    font-size: $jumbotron-slide-title-h3-size;
    margin: $jumbotron-slide-title-h3-margin 0;
  }
  .jumbotron-slide-wrapper > h4 {
    font-size: $jumbotron-slide-title-h4-size;
    margin: $jumbotron-slide-title-h4-margin 0;
  }
  /* -- JUMBOTRON SLIDE SELECTORS */
  .slide-selector-wrapper > ul > li {
    height: $jumbotron-slide-selector-height; width: $jumbotron-slide-selector-height;
    margin-right: $jumbotron-slide-selector-margin;
  }
  /* -- JUMBOTRON SLIDE BUTTON */
  .jumbotron-slide-container > a {
    margin-right: $jumbotron-slide-button-margin;
  }
  .jumbotron-slide-container > a > button {
    height: $jumbotron-slide-button-height; min-width: $jumbotron-slide-button-min-width;
  }
}

/* Viewport, right after iPad */
@media (max-width: 1023px) {

}

/* iPad Portrait */
@media (max-width: 768px) {

}

/* Right after iPad Portrait */
@media (max-width: 767px) {

}

/* Mobile XL Portrait */
@media (max-width: 425px) {
  /* -- JUMBOTRON SLIDE TITLES */
  .jumbotron-slide-wrapper > h1 {
    font-size: $jumbotron-slide-title-h1-size-mobile;
    margin: $jumbotron-slide-title-h1-margin-mobile 0;
  }
  .jumbotron-slide-wrapper > h2 {
    font-size: $jumbotron-slide-title-h2-size-mobile;
    margin: $jumbotron-slide-title-h2-margin-1920 0;
  }
  .jumbotron-slide-wrapper > h3 {
    font-size: $jumbotron-slide-title-h3-size-mobile;
    margin: $jumbotron-slide-title-h3-margin-1920 0;
  }
  .jumbotron-slide-wrapper > h4 {
    font-size: $jumbotron-slide-title-h4-size-mobile;
    margin: $jumbotron-slide-title-h4-margin-1920 0;
  }
  /* -- JUMBOTRON SLIDE BUTTON */
  .jumbotron-slide-container > a {
    margin-right: $jumbotron-slide-button-margin-mobile;
  }
  .jumbotron-slide-container > a > button {
    height: $jumbotron-slide-button-height; min-width: $jumbotron-slide-button-min-width;
    & > img {
      opacity: 0.8;
      max-width: 75px;
    }
  }
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {
  /* -- JUMBOTRON SLIDE TITLES */
  .jumbotron-slide-wrapper > h1 {
    font-size: $jumbotron-slide-title-h1-size-mobile-small;
    margin: $jumbotron-slide-title-h1-margin-mobile 0;
  }
  .jumbotron-slide-wrapper > h2 {
    font-size: $jumbotron-slide-title-h2-size-mobile-small;
    margin: $jumbotron-slide-title-h2-margin-1920 0;
  }
  .jumbotron-slide-wrapper > h3 {
    font-size: $jumbotron-slide-title-h3-size-mobile-small;
    margin: $jumbotron-slide-title-h3-margin-1920 0;
  }
  .jumbotron-slide-wrapper > h4 {
    font-size: $jumbotron-slide-title-h4-size-mobile-small;
    margin: $jumbotron-slide-title-h4-margin-1920 0;
  }
  /* -- JUMBOTRON SLIDE BUTTON */
  .jumbotron-slide-container > a {
    margin-right: $jumbotron-slide-button-margin-mobile-small;
  }
  .jumbotron-slide-container > a > button {
    height: $jumbotron-slide-button-height; min-width: $jumbotron-slide-button-min-width;

    &.large-font {
      font-size: 14px;
    }

    & > img {
      opacity: 0.8;
      max-width: 75px;
    }
  }
}
