/* MAIN VIEW LAYOUT VALUES */
$main-view-max-width: 1100px;
$main-view-container-top-margin: 40px;

/* MAIN VIEW LAYOUT WRAPPER */
.main-view-layout {
  @include flex; @include flex-column; @include justify-center;
  @include box-size-border-box;
  max-width: $main-view-max-width; width: 100%;
  margin: 0 auto 0 auto;
}

.main-view-container {
  margin-top: $main-view-container-top-margin;
  width: 100%;

  &:last-of-type {
    margin-bottom: $main-view-container-top-margin;
  }
}

/* RESPONSIVE STYLES */
@media (max-width: 2560px) {

}

/* 1920 x 1080 support */
@media (max-width: 1920px) {

}

/* 1440 x 900 support */
@media (max-width: 1440px) {

}

/* Viewport, right after iPad */
@media (max-width: 1023px) {

}

/* iPad Portrait */
@media (max-width: 768px) {

}

/* Right after iPad Portrait */
@media (max-width: 767px) {

}

/* Mobile XL Portrait */
@media (max-width: 425px) {
  
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {

}
